
/* BUTTONS */
.button_1, .button_1b, .button_special, .button_1c {
    display: inline-block;
    background-color: white;
    color: black;
    padding: 5px 10px; /* Adjust padding as needed */
    margin: 5px;
    min-width: 80px; /* Adjust the value according to your needs */
    white-space: nowrap; /* Prevent text from wrapping */
    line-height: 1.75;
    transition: transform 0.2s ease, background-color 0.5s ease, color 0.5s ease; /* Apply transition to transform, background-color, and color properties */
}

.button_1c {
    color: white;
    background-color: black;
}

.button_none {
    display: inline-block;
    padding: 10px 20px; /* Adjust padding as needed */
    white-space: nowrap; /* Prevent text from wrapping */
}

.button_1:hover {
    transform: scale(1.05); /* Scale up by 5% on hover */
    background-color: black; /* Change background color on hover */
    color: white; /* Change text color on hover */
}

.button_1b:hover {
    transform: scale(1.05); /* Scale up by 5% on hover */
    background-color: red; /* Change background color on hover */
    color: white; /* Change text color on hover */
}

.button_special:hover {
    background-color: black;
    color: white;
    animation: wiggle 2.5s linear;
}

.nav-link {
    margin-inline: 20px;
    padding: 5px 10px;
    border-radius: 2px;
    transition: transform 0.2s ease, background-color 0.5s ease, color 0.5s ease, border-radius 0.5s ease;
    max-width: 100px;
    display: inline-block; /* Ensures proper layout */
    text-align: center; /* Center the text */
    overflow: hidden; /* Prevent visual overflow issues */
    transform-origin: center; /* Keeps the scale centered */
}

.nav-link:hover {
    transform: scale(1.10); /* Scales the element */
    background-color: #e6e8f1; /* Change background color on hover */
    color: black; /* Change text color on hover */
    border-radius: 5px; /* Optionally adjust border-radius */
}



@keyframes wiggle {
    0%, 7% {
        transform: rotateZ(0);
    }
    15% {
        transform: rotateZ(-15deg);
    }
    20% {
        transform: rotateZ(10deg);
    }
    25% {
        transform: rotateZ(-10deg);
    }
    30% {
        transform: rotateZ(6deg);
    }
    35% {
        transform: rotateZ(-4deg);
    }
    40%, 100% {
        transform: rotateZ(0);
    }
}