.responsive_add {
    display:none;
}

/* Media Queries */
@media (max-width: 1024px) {
    /* Tablet styles */
    .navbar {
        padding: 10px 5vw; /* Adjust padding for tablet */
    }
}

@media (max-width: 768px) {
    /* Mobile styles */
    .navbar {
        justify-content: center; /* Center links on mobile */
        padding-block: 0px !important;
    }



    .sub_content {
        justify-content: center;
        text-align: start;
    }

    .width_container{
        width: 100%;
    }
    .column-1-3 {
        display: none;
    }


    .responsive_remove {
        display: none;
    }
    .title {
        font-size: 10vw;
    }
    .centered_content {
        padding-inline: 6vw;
    }


    .sub_content {
        justify-content: center;
        text-align: start;

    }

    .margin_add {
        margin-top: 40px !important;
    }

    .prev {
        opacity: 0
    }
    .next {
        opacity: 0
    }

    .responsive_add {
        display: block;
    }

}
